<div class="config">
  <div class="titlebar">Configuration</div>
  <form ng-submit="client.connect()">
    <div class="control-group">
      <label>Server:</label>
      <input type="text" ng-model="client.options.server">
    </div>

    <div class="control-group">
      <label>Port:</label>
      <input type="number" ng-model="client.options.port">
    </div>

    <div class="control-group">
      <label>Nick:</label>
      <input type="text" ng-model="client.options.nickname">
    </div>

    <div class="control-group">
      <label>Real Name:</label>
      <input type="text" ng-model="client.options.userName">
    </div>

    <div class="control-group">
      <label>Channels:</label>
      <input type="text" ng-model="client.options.channels" ng-list>
    </div>

    <div class="control-group">
      <label>Server Password:</label>
      <input type="text" ng-model="client.options.password">
    </div>

    <div class="control-group">
      <label class="checkbox">
        <input type="checkbox" ng-model="client.options.ssl"> SSL
      </label>
    </div>

    <div class="control-group">
      <input type="submit" value="Connect">
    </div>
  </form>
</div>
