<!DOCTYPE html>
<html>
  <head>
    <title>nirc</title>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>   
    <script src='/javascripts/client.js'></script>
    <script src='/javascripts/document-dot-ready.js'></script>
    <script src='/javascripts/vendor/mousetrap.min.js'></script>
    <link href='/stylesheets/style.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/stylesheets/themes/mint/mint.css' media='screen' rel='stylesheet' type='text/css'/>
	</head>
  <body>
		<form id="connect-form" onSubmit="return false;">
			<h1><i>n</i>irc</h1>
			<label for="server">Server *</label> <input type="text" id="server" placeholder="irc.freenode.net"/>
			<label for="port">Port</label> <input type="text" id="port" placeholder="6667"/>
      <label for="nickname">Nickname *</label> <input type="text" id="nickname" placeholder="Gordon"/>
			<label for="user">User</label> <input type="text" id="user" placeholder="Gordon"/>
      <label for="password">Password</label> <input type="password" id="password" />
			<label for="channels">Channels *</label> <input type="text" id="channels" placeholder="#nirc, #node.js"/>
      <input type="checkbox" id="ssl"/> <label for="ssl">SSL</label>
			<input type="submit" id="connect" value="Connect"/>
		</form>
		
		<div id="irc-stuff">		  
		  <ul id="tabs"></ul>
		  <div id="tab-views"></div>
			<input type="text" id="command-input" class="mousetrap"/>
		</div>
  </body>
</html>