<!DOCTYPE html>
<html ng-app="nirc">
  <head>
    <title>nirc</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/vendor/mousetrap.min.js'></script>
    <script src='/javascripts/vendor/angular.min.js'></script>
    <script src='/javascripts/vendor/lodash.min.js'></script>
    <script src='/javascripts/nirc.js'></script>
    <script src='/javascripts/nirc/directives/say.js'></script>
    <script src='/javascripts/nirc/user.js'></script>
    <script src='/javascripts/nirc/channel.js'></script>
    <script src='/javascripts/nirc/chat_event.js'></script>
    <script src='/javascripts/nirc/client.js'></script>
    <link href='/stylesheets/style.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/stylesheets/themes/default/default.css' media='screen' rel='stylesheet' type='text/css'/>
  </head>
  <body ng-controller="MainCtrl">
    <!-- config overlay -->
    <div class="overlay" ng-if="!client.connected">
      <div class="floater">
        <div class="titlebar">Configuration</div>
        <form ng-submit="client.connect()">
          <div>
            <label>Server:</label>
            <input type="text" ng-model="client.options.server">
          </div>

          <div>
            <label>Port:</label>
            <input type="number" ng-model="client.options.port">
          </div>

          <div>
            <label>Nick:</label>
            <input type="text" ng-model="client.options.nickname">
          </div>

          <div>
            <label>Real Name:</label>
            <input type="text" ng-model="client.options.userName">
          </div>

          <div>
            <label>Channels:</label>
            <input type="text" ng-model="client.options.channels" ng-list>
          </div>

          <div>
            <label>Server Password:</label>
            <input type="text" ng-model="client.options.password">
          </div>

          <div>
            <label class="checkbox">
              <input type="checkbox" ng-model="client.options.ssl"> SSL
            </label>
          </div>

          <div>
            <input type="submit" value="Connect">
          </div>
        </form>
      </div>
    </div>

    <!-- channel/status tabbar  -->
    <ul class="tabbar" ng-controller="TabCtrl">
      <li class="logo">
        nIRC
      </li>
      <li ng-class="{active: isActive(client.statusChannel)}">
        <a href ng-click="setActive(client.statusChannel)">status</a>
      </li>
      <li ng-repeat="channel in client.channels" ng-class="{active: isActive(channel)}">
        <a href ng-click="setActive(channel)">{{channel.name}}</a>
      </li>
    </ul>

    <div class="wrapper">
      <!-- main content pane -->
      <ul class="content">
        <li ng-repeat="event in client.activeChannel.history">
          <span class="timestamp">
            {{event.timestamp | date:'HH:mm:ss'}}
          </span>
          <span class="sender">
            {{event.from.nick}}:
          </span>
          <span class="message">
            {{event.message}}
          </span>
        </li>
      </ul>
      <!-- user list -->
      <ul class="users">
        <li ng-repeat="user in client.activeChannel.users">
          {{user.nick}}
        </li>
      </ul>
    </div>

    <div class="input-wrapper">
      <input type="text" class="user-input" say>
    </div>
  </body>
</html>
