body {	
  margin: 0;
}

input:focus{
  outline: none;
}

#connect-form {
	width:      165px;
	margin:     50px auto 0 auto;
}

#connect-form input, label {
	display:  block;
	width:    151px;
}
#connect-form input {
	margin-bottom:  10px;
	padding:        3px 5px;
	border-width:   1px;
	border-style:   solid;
}

label[for=ssl] {
  display:  inline;
  width:    auto;
}
#connect-form input[type=checkbox] {
  display:  inline;
  width:    auto;
}

#connect-form input:focus {
	border-width: 1px;
	border-style: solid;
}
#connect-form #connect {
	border: 			none;
	cursor: 			pointer;
	width: 				auto;
	padding: 			8px 15px;
	margin-left:	0;
}

#irc-stuff {
	display: 	none;
}

#tabs {
  width:                100%;
  position:             fixed;
  top:                  0;
  left:                 0;
  margin:               0;
  padding:              0;
  list-style:           none;
  border-bottom-width:  1px;
  border-bottom-style:  solid;
}

.tab {
  display:            inline-block;
  margin:             0;
  padding:            6px 10px;
  cursor:             pointer;
  border-right-width: 1px;
  border-right-style: solid;
}

.tab.active {
  cursor: default;
}

.tab-view {
  position: fixed;
  display:  none;
	top: 			30px;
	bottom:   25px;
  left: 		0px;
	width: 		100%;
	overflow: auto;
}
.tab-view.active {
  display: block;
}

.tab-view .line {
  white-space: pre-wrap;
	display:	   block;
	padding: 	   5px 10px;
}

.tab-view .nicklist {
  float: right;
}

.tab-view .line .timestamp {
  margin-right: 11px;
}

#command-input {
	display: 			block;
  position:     fixed;
  bottom:       0;
  left:         0;
	width: 				100%;
	border-width: 1px;
	border-style: solid;
	border-right: none;
	border-left: 	none;
	padding:      5px 0px;
	margin:       0;
}
