* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
}

html, body, .wrapper, .content, .users {
  height: 100%;
}

.wrapper {
  padding-top: 40px;
}

.content {
  width: 100%;
  padding-right: 400px;
}

.users {
  position: absolute;
  right: 0;
  top: 40px;
  width: 400px;
  border-left: 1px solid #eee;
}

.lines {
  margin: 0;
  padding: 20px;
}

.lines li {
  display: block;
  width: 100%;
}


.tabbar {
  list-style: none;
  margin: 0; padding: 0;
  background: #333;
  border-bottom: 1px solid #666;
  position: absolute;
  left: 0;
  right: 0;
}

.tabbar li {
  display: block;
  float: left;
}

.tabbar li a {
  display: block;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  min-width: 80px;
  color: #ccc;
}

.tabbar li a:hover {
  color: #eee;
  background: #444;
}

.tabbar li.active a {
  background: #3366cc;
  color: #fff;
}

.tabbar li.pending a {
  text-decoration: underline;
}

.tabbar:after {
  content: "";
  display: table;
  clear: both;
}

