::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar:hover {
  background: rgba(255, 255, 255, 0.02);
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, ,0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

body {
  margin: 0;
}

input:focus{
  outline: none;
}

#connect-form {
	width:      165px;
	margin:     50px auto 0 auto;
}

#connect-form input, label {
	display:  block;
	width:    151px;
}
#connect-form input {
	margin-bottom:  10px;
	padding:        3px 5px;
	border-width:   1px;
	border-style:   solid;
}

label[for=ssl] {
  display:  inline;
  width:    auto;
}
#connect-form input[type=checkbox] {
  display:  inline;
  width:    auto;
}

#connect-form input:focus {
	border-width: 1px;
	border-style: solid;
}
#connect-form #connect {
	border: 			none;
	cursor: 			pointer;
	width: 				auto;
	padding: 			8px 15px;
	margin-left:	0;
}

#irc-stuff {
	display: 	none;
}

#tabs {
  width:                100%;
  position:             fixed;
  top:                  0;
  left:                 0;
  margin:               0;
  padding:              0;
  list-style:           none;
  border-bottom-width:  1px;
  border-bottom-style:  solid;
}

.tab {
  display:            inline-block;
  margin:             0;
  padding:            6px 10px;
  cursor:             pointer;
  border-right-width: 1px;
  border-right-style: solid;
}

.tab.active {
  cursor: default;
}

.tab-view {
  position: fixed;
  display:  none;
	top: 			28px;
	bottom:   25px;
  left: 		0px;
  right:    150px;
	overflow: auto;
}
.tab-view.active {
  display: block;
}
.tab-view.no-nicklist {
  right: 0;
}

.tab-view .line {
  white-space: pre-wrap;
	display:	   block;
	padding: 	   5px 10px;
}

.tab-view .line .timestamp {
  margin-right: 11px;
}

.tab-view .nicklist {
  width:              150px;
  margin:             0;
  padding:            0;
  position:           fixed;
  top:                28px;
  bottom:             25px;
  right:              0px;
  overflow-x:         hidden;
  overflow-y:         auto;
  list-style-type:    none;
  border-left-width:  1px;
  border-left-style:  solid;
}

.tab-view .nicklist li {
  padding:  5px;
  cursor:   pointer;
}

#command-input {
	display: 			block;
  position:     fixed;
  bottom:       0;
  left:         0;
	width: 				100%;
	border:       none;
	padding:      5px 0px;
	margin:       0;
}
