body {	
  margin:       0;
  background:   #3F464C;
	font-family:	Monaco, monospace;
	font-size:		11px;
	color:        #fff;
}

input:focus{
  outline: none;
}

#connect-form {
	width: 					160px;
	margin: 				0 auto;
	margin-top: 		150px;
	padding:				10px 15px;
}
#connect-form h1 i {
	color: #FBDE2D;
}
#connect-form input, label {
	display:	block;
	width: 		151px;
}
#connect-form input {
	margin-bottom: 	10px;
	font-family:		Monaco, monospace;
	font-size:			11px;
	padding:				3px 5px;
	border: 				solid 1px #ccc;
}

label[for=ssl] {
  display: inline;
  width: auto;
}
#connect-form input[type=checkbox] {
  display: inline;
  width: auto;
}

#connect-form input:focus {
	border:	 solid 1px #FBDE2D;
}
#connect-form #connect {
	border: 			none;
	background: 	#000;
	color:				#fff;
	cursor: 			pointer;
	width: 				auto;
	padding: 			8px 15px;
	margin-left:	0;
}
#connect-form #connect:hover, #connect-form #connect:focus {
	-webkit-transition: background-color 0.25s linear;
	background: 				#FBDE2D;
}

#irc-stuff {
	display: 	none;
}

#tabs {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: solid 1px #ccc;
}

.tab {
  display: inline-block;
  margin: 0;
  padding: 6px 10px;
  color: #ccc;
  cursor: pointer;
  border-right: solid 1px #ccc;
}

.tab.active {
  background: #333;
  color: #fff;
  cursor: normal;
}

.tab.new-msgs {
  color: #B9D054;
}

.tab-view {
  position: fixed;
  display:  none;
	top: 			28px;
	bottom:   28px;
  left: 		0px;
	width: 		100%;
	overflow: auto;
}
.tab-view.active {
  display: block;
}

.tab-view .line {
  white-space: pre-wrap;
	display:	   block;
	padding: 	   5px 10px;
}

.tab-view .line.client:nth-child(odd) {
	background: #383f44;
}

.tab-view .from {
  font-weight: bold;
	color: #FBDE2D;
}

.tab-view .from.from-you {
  color: #2DB1FB;
}

#command-input {
	display: 			block;
  position:     fixed;
  bottom:       0;
  left:         0;
	width: 				100%;
	font-family: 	Monaco, monospace;
	font-size:		11px;
	border:				1px solid #ccc;
	border-right: none;
	border-left: 	none;
	padding:      5px 0px;
}