body {
  background:   #22252A;
	font-family:  Consolas, 'Liberation Mono', Courier, monospace;
	font-weight:  bold;
	font-size:    13px;
	color:        #fff;
}

a {
  color: #fff;
}

#connect-form h1 i {
	color: #A6E32D;
}

#connect-form input {
	font-family:  Consolas, 'Liberation Mono', Courier, monospace;
	font-weight:  bold;
	font-size:    13px;
	border-color: #ccc;
}

#connect-form input:focus {
	border-color: #A6E32D;
}

#connect-form #connect {
	background: #000;
	color:      #fff;
}

#connect-form #connect:hover, #connect-form #connect:focus {
	background: #A6E32D;
	color:      #000;
}

#tabs {
  border-color: #555753;
}

.tab {
  color:        #75766A;
  border-color: #555753;
}

.tab.active {
  background: #333;
  color:      #fff;
}

.tab.new-msgs {
  color: #FA2573;
}

.tab-view .line .timestamp {
  color: #75766A;
}

.tab-view .from {
  font-weight:  bold;
	color:        #A6E32D;
}

.tab-view .from.from-you {
  color: #C48DFF;
}

.tab-view .line.channel.mentioned  {
	background: #333;
}

.tab-view .nicklist {
  border-color: #555753;
}

.tab-view .nicklist li:hover {
  text-decoration: underline;
}

#command-input {
	font-family:  Consolas, 'Liberation Mono', Courier, monospace;
	font-weight:  bold;
	font-size:		13px;
}