html, body, .wrapper, .content {
  height: 100%;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 32, 32, 0.70);
  z-index: 5000;
}

.floater {
  width: 324px;
  margin: 32px auto;
  background: #ccc;
  border: 1px solid #333;

  .titlebar {
    padding: 8px;
    background: #333;
    color: #ccc;
  }

  form {
    padding: 8px;

    label {
      display: inline-block;
      width: 100px;
    }

    label.checkbox {
      text-align: left;
      display: inline-block;
      width: 100%;
    }

    input {
      display: inline-block;
      width: 200px;
    }

    input[type=checkbox] {
      display: inline-block;
      width: auto;
    }


    input[type=submit] {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

}


.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.input-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  border-top: 1px solid #eee;
  background: #333;

  input {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.content {
  list-style: none;
  width: 100%;
  padding: 20px;
  padding-right: 400px;
  background: #999;
  color: #333;
  overflow: auto;
  margin: 0;
  font-family: monospace;

  li {
    display: block;
    width: 100%;

    .timestamp {
      color: rgba(0, 0, 0, 0.30);
    }

    .sender {
      font-weight: bold;
    }

    .message {

    }
  }
}

.users {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 40px;
  width: 400px;
  border-left: 1px solid #eee;
  overflow: auto;
  list-style: none;

}

.tabbar {
  list-style: none;
  margin: 0; padding: 0;
  background: #333;
  border-bottom: 1px solid #666;
  position: absolute;
  left: 0;
  right: 0;

  li {
    display: block;
    float: left;

    &.logo {
      display: block;
      padding: 12px;
      color: #555;
      font-weight: bold;
      text-align: left;
    }

    &.active a {
      background: #3366cc;
      color: #fff;
    }

    &.pending a {
      text-decoration: underline;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    a {
      display: block;
      padding: 12px;
      text-decoration: none;
      text-align: center;
      min-width: 80px;
      color: #ccc;

      &:hover {
        color: #eee;
        background: #444;
      }
    }

 }
}