@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  font-family: "Droid Sans Mono", monospace;
  font-size:   12px;
  color: #999;
  background: #303038;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
}

.config {
  border: 1px solid #555;
  background: #303038;
  box-shadow: 0px 0px 12px #000000;

  .titlebar {
    background: #202028;
    border-bottom: 1px solid #555;
  }

  input[type=submit] {
    border: 1px solid #101018;
    background: #202028;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    &:hover {
      border-color: #606068;
      background: #505058;
    }
  }
}

.tabbar {
  color: #999;
  background: #202028;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  li {
    &.active {
      a {
        background: #303038;
        color: #fff;
        &:hover {
          background: #303038;
        }
      }
      border-right: 1px solid rgba(255, 255, 255, 0.25);
      border-left: 1px solid  rgba(255, 255, 255, 0.25);
    }

    a {
      color: #4682b4;
      text-decoration: none;
      transition: background 0.25s ease-in-out;
      &:hover {
        background: #404048;
      }
    }
  }

}

.content {
  .timestamp {
    color: rgba(255, 255, 255, 0.50);
  }

  .sender {
    font-weight: bold;
    color: #4682b4;
  }

  .message {
    a {
      color: #999;
      text-decoration: underline;
      transition: color 0.25s ease-in-out;
      &:hover {
        color: #ccc;
      }
    }
  }

}

.users {
  border-left: 1px solid rgba(255, 255, 255, 0.25);

  li {
    a {
      color: #999;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      text-decoration: none;

      &:hover {
        color: #ccc;
      }
    }
  }
}

.user-input {
  border: none;
  padding-left: 20px;
  margin-right: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  font-family: "Droid Sans Mono", monospace;
  font-size: 11px;
  background: #303038;
  color: #999;
}